.anchor {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    color: var(--color-primary-hover);
    text-decoration-thickness: 2px;
  }

  &[data-variant="muted"] {
    color: var(--color-text-secondary);
    text-decoration: none;

    &:hover {
      color: var(--color-text);
      text-decoration: underline;
    }
  }
}
